@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Be Vietnam", sans-serif;
  font-size: 16px;
}

header {
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: 800px -150px;
  background-size: 650px;
}

.container {
  width: 1050px;
  margin: auto;
}

.navigation {
  padding-top: 30px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

.nav-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  display: inline-block;
  padding-right: 19px;
}

a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-size: 0.8em;
}

.get-started {
  margin-right: 40px;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  font-size: 0.8em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.hamburg-menu {
  display: none;
}

.flex {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}

.flex-0 {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}

.header-text {
  width: 500px;
  padding-top: 60px;
  padding-right: 80px;
  /* flex: 0.3; */
}

.major-text {
  color: hsl(228, 39%, 23%);
  font-size: 2.9em;
  font-weight: 700;
  padding-bottom: 20px;
}

.minor-text {
  width: 270px;
  font-size: 0.8em;
  font-weight: 400;
  color: hsl(227, 12%, 61%);
  padding-bottom: 30px;
  line-height: 1.3rem;
  text-align: justify;
}

.started {
  width: 120px;
  margin-right: 10px;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  font-size: 0.8em;
  box-shadow: 0 0 4px hsl(12, 88%, 59%);
  cursor: pointer;
}

.section-1-stats {
  padding-right: 50px;
}

.section-2-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.section-container {
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: -350px 300px;
  background-size: 600px;
}

.services {
  width: 600px;
}

.services-started {
  width: 120px;
  margin-right: 10px;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  font-size: 0.8em;
  box-shadow: 0 0 4px hsl(12, 88%, 59%);
}

.minor-text-explain {
  padding: 15px 0px 20px 70px;
  margin-right: 40px;
}

b {
  color: hsl(228, 39%, 23%);
}

.section-3-container {
  padding-top: 100px;
}

.section-header {
  text-align: center;
  color: hsl(228, 39%, 23%);
  font-size: 1.9em;
  font-weight: 700;
  padding-bottom: 20px;
}

.testimonial {
  display: flex;
  justify-content: space-between;
}

.testifier {
  position: relative;
  margin: 80px 5px 40px 5px;
  width: 35%;
  text-align: center;
  padding-right: 15px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  background-color: hsl(0, 0%, 98%);
}

.testifier-name {
  font-weight: 700;
  padding-top: 60px;
}

.testifier-avatar {
  position: absolute;
  bottom: 140px;
  left: 160px;
  padding: 20px;
}

.testifier-image {
  height: 70px;
}

.testifier-text {
  padding: 27px;
  color: hsl(227, 12%, 61%);
  font-size: 0.9em;
  line-height: 1.4em;
}

.testimonial-get-started {
  text-align: center;
  width: 10%;
  margin: 0 auto;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  border-radius: 40px;
  font-size: 0.8em;
  box-shadow: 0 0 4px hsl(12, 88%, 59%);
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.section-4-container {
  margin: 150px 0px 0px 0px;
  background-color: hsl(12, 88%, 59%);
  background-image: url(./images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-size: 1500px;
  background-position: 150px -130px;
}

.flex-1 {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
  width: 79%;
  margin: auto;
}

.subscribe {
  color: hsl(0, 0%, 98%);
  font-size: 1.9em;
  width: 400px;
  margin: auto;
  text-align: left;
  font-weight: 700;
}

.subscribe-button {
  align-self: center;
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 59%);
  border-radius: 40px;
  font-size: 0.8em;
  box-shadow: 0 0 4px hsl(0, 0%, 98%);
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  /* margin-right: 30px; */
}

.container-2 {
  position: relative;
  background-color: hsl(233, 12%, 13%);
  border: 1px solid;
  border-left-color: hsl(227, 12%, 61%);
  border-right-color: hsl(227, 12%, 61%);
}

.flex-2 {
  display: flex;
  justify-content: space-between;
  width: 1090px;
  margin: auto;
  padding: 70px 0px;
}

.footer-logo {
  margin: 0px 0px 70px 0px;
}

.socials > img {
  align-items: flex-end;
  cursor: pointer;
  padding-right: 15px;
}

.footer-nav-container {
  display: flex;
  align-self: center;
}

.footer-nav {
  padding: 0px 90px;
}

.footer-nav-list {
  list-style-type: none;
  color: hsl(0, 0%, 98%);
  font-size: 0.8em;
  padding-bottom: 19px;
}

.footer-sub {
  display: flex;
  flex-direction: column;
}

.footer-input {
  padding-bottom: 90px;
}

input {
  margin-right: 8px;
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 98%);
  border-radius: 40px;
  font-size: 0.8em;
  padding: 10px 20px 10px 20px;
}

input:placeholder-shown {
  color: hsl(227, 12%, 61%);
  font-size: 0.75em;
  font-weight: 400;
}

.footer-button {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 40px;
  font-size: 0.8em;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.copyright {
  font-size: 0.7em;
  /* position: absolute; */
  color: hsl(227, 12%, 61%);
  font-weight: 400;
  align-self: flex-end;
  /* bottom: 90px;
  right: 130px; */
}

.mob-copyright {
  display: none;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: auto;
  }
  .get-started {
    display: none;
  }

  .header-container {
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 320px 700px;
  }

  header {
    background-image: url(./images/bg-tablet-pattern.svg);
    /* background-repeat: no-repeat;
    background-position: 800px -150px;
    background-size: 650px; */
  }

  .nav-group {
    display: none;
  }

  .get-started {
    display: none;
  }

  .hamburg-menu {
    display: inline-block;
    padding-right: 20px;
  }

  .flex {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .header-text {
    width: 100%;
    padding: 0px;
  }

  .major-text {
    width: 100%;
    text-align: center;
    padding: 14px;
  }

  .minor-text {
    width: 60%;
    text-align: center;
    margin: auto;
    font-size: 1em;
    line-height: 1.7em;
    font-weight: 400;
  }

  .started {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
  }

  .flex-0 {
    flex-direction: column;
    justify-content: center;
  }

  .services {
    width: 100%;
  }

  .services-group {
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 0px -40px;
  }

  .services-started {
    margin-left: 15px;
    padding: 10px 25px 10px 25px;
  }

  b {
    padding-left: 5px;
  }

  .minor-text-explain {
    text-align: left;
    margin: 15px;
    padding: 0;
  }

  .section-container {
    background-image: none;
  }

  .testimonial {
    display: none;
  }

  .testimonial-get-started {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
  }

  .section-4-container {
    background-image: url(./images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: 0px;
  }

  .flex-1 {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .subscribe {
    width: 70%;
    text-align: center;
    font-size: 2.6em;
    padding-bottom: 30px;
  }
  .subscribe-button {
    margin: 20px;
    padding: 15px 30px;
    font-weight: 700;
  }
  .flex-2 {
    width: 100%;
    flex-direction: column-reverse;
  }

  .footer-nav-container {
    display: flex;
    align-self: center;
  }

  .footer-logo {
    margin: 30px;
  }

  .socials > img {
    margin: 20px 20px;
  }

  .footer-nav {
    padding: 30px;
  }

  .footer-sub {
    align-self: center;
  }

  .footer-logo-socials {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .footer-input {
    padding-bottom: 20px;
  }

  .copyright {
    display: none;
  }

  .mob-copyright {
    display: inline-block;
    color: hsl(227, 12%, 61%);
    font-weight: 400;
    padding: 0px 0px 80px 110px;
  }
}
